import(gMWT, parallel, plotrix, Rcpp, hoardeR, snpStats, data.table, circlize)

importFrom("grDevices", "dev.off", "pdf", "rainbow")
importFrom("graphics", "axis", "boxplot", "layout", "lines", "par", "points", "rect", "text")
importFrom("stats", "density", "lm", "predict", "smooth.spline")

S3method(print,eqtl)
S3method(plot,eqtl)
S3method(summary,eqtl)

S3method(print,mdr)
S3method(predict,mdr)
S3method(plot,mdr)
S3method(summary,mdr)

S3method(print,mdrPredict)

S3method(print,PedMap)
S3method(summary,PedMap)

S3method(plot,qtl)
S3method(print,qtl)
S3method(summary,qtl)

export(calcDistances, eQTL, QTL, genotypePlot, getRegionsOI, gtfToBed, mdr, mdrEnsemble, recodeData, visTrans, importSTARLog, importPED)

useDynLib(GenomicTools)